# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch model files
*.pt
*.pth

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.swp
*.swo
